.all-services__button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: #4985ff;
  box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  width: 200px;
  padding: 13px 0 15px 0;
  border: none;
  cursor: pointer;
}
