.all-services__block-container {
  width: 1110px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  margin: 80px auto 85px;
  padding: 0 0 85px 0;
  position: absolute;
  transform: translate(-50%, -50%);
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  left: 50%;
  gap: 30px;
}
