.footer__column-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 70px auto 35px;
}

@media screen and (max-width: 767px) {
  .footer__column-heading {
    margin: 20px auto 25px;
  }
}
