.project__items {
    cursor: pointer;
}

.project__items:nth-child(n + 5) {
    display: none;
}

.project__items.visible {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}