.project__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    margin: 100px auto 50px;
    color: #000000;
}

@media screen and (max-width: 767px) {
    .project__title {
        font-size: 26px;
        max-width: 300px;
        margin: 30px auto 50px;
    }
}