.services__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 5px;
  align-items: center;
}

.services__item:nth-child(n + 4) {
  display: none;
}

.services__item.is-visible {
  display: flex;
}
