.header__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0 0 0 40px;
  text-decoration: none;
}

.header__link:hover {
  color: #bebebe;
}


@media screen and (max-width: 767px) {
  .header__link {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #120202;
    margin: 0 auto;
  }

  .header__link:hover {
    background-color: rgba(208, 238, 138, 0.651);
    width: 205px;
  }
}
