.signature__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin: 85px auto 20px;
}

@media screen and (max-width: 767px) {
  .signature__title {
    font-size: 14px;
  }
}


