@import url(../vendor/normalize.css);
@import url(../vendor/fonts/montserrat.css);

.page {
    background-color: #F6F6F8;
    color: white;
    font-family: "Montserrat", Arial, sans-serif;
}

.page__container {
    max-width: 1920px;
    min-height: 100vh;
    min-width: 320px;
}

.header {
    position: absolute;
    z-index: 10;
    width: 1920px;
}

.header__border {
    border: 1px white solid;
    width: 100%;
    height: 100px;
    display: block;
    opacity: 0.5;
}

.header__menu {
    max-width: 960px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px 407px 40px auto;

}

.header__list {
    display: flex;
    padding-left: 10px;
    list-style-type: none;
}

.header__link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0 0 0 40px;
    text-decoration: none;
}

.header__link_active {
    padding-bottom: 40px;
    border-bottom: 2px solid #FFFFFF;
    width: 107px;
}

.intro {
    position: relative;
    width: 1920px;
    height: 900px;
    background-size: cover;
    margin: 0 auto;
    background: url("../images/rectangle.png") no-repeat;
}

.intro__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 319px 0 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    max-width: 175px;
    padding: 0;
    margin: 0 auto 20px;
}

.intro__title {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    max-width: 829px;
    padding: 0;
    margin: 0 auto;
}

.intro__link {
    background: #4985FF;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    max-width: 200px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 33px auto 0;
    padding: 13px 36px 15px;
}

.services {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #323232;
    background: #fff;
    width: 1920px;

}

.services__container {
    max-width: 1113px;
    margin: 0 auto;
}

.services__title {
    max-width: 739px;
    margin: 107px auto 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
}


.services__text {
    max-width: 730px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
}

.services__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin: 70px auto 45px;
    max-width: 1133px;
}

.services__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 5px;
    align-items: center;
}

.services__image {
    width: 90px;
    height: 90px;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services__border {
    border: 1px solid #E0E0E0;
    border-radius: 110px;
    width: 110px;
    height: 110px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    position: relative
}

.services__block-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    max-width: 222px;
    margin: 0 0 0 17px;

}

.services__lead {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: 40px auto 12px 0;
}

.services__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}

.services__link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background: #4985FF;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 13px 50px 15px;
    margin: 0 auto 105px;
}

.about-us {
    background: #F6F6F8;
    margin: 0 auto 207px;
    width: 1920px;
}

.about-us__container {
    margin: 95px auto 90px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 1110px;
    border-bottom: 1px solid #E0E0E0;
}

.about-us__content {
    display: flex;
    flex-direction: column;
}

.about-us__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    color: #323232;
    margin: 52px auto 15px 0;
    padding: 0;
}

.about-us__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    max-width: 489px;
    margin: 0 auto 30px 0;
}

.about-us__link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
    margin: 0 auto 0 0;
}

.about-us__image {
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    margin: 0 0 90px 0;
    width: 500px;
    height: 400px;
}

.all-services {
    width: 1920px;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    padding: 0;
    margin: 0;
    position: relative;
}

.all-services__content {
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    padding: 100px 0 286px 0;
    align-items: center;
}

.all-services__title {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    max-width: 540px;
}

.all-services__link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background: #4985FF;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    width: 200px;
    padding: 13px 0 15px 0;
}

.all-services__block-background {
    color: #323232;
    background: #fff;
    width: 1920px;
    height: 482px;
}

.all-services__block-container {
    width: 1110px;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: center;
    margin: 80px auto 85px;
    padding: 0 0 85px 0;
    position: absolute;
    transform: translate(-50%, -50%);
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    left: 50%;
    gap: 30px;
}

.all-services__block-content {
    width: 350px;
}

.all-services__block-image {
    width: 350px;
    height: 300px;
    border-radius: 10px;
}

.all-services__block-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #4985FF;
    margin: 30px auto 30px 0;
}

.all-services__block-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin: 30px auto 30px 0;
}

.all-services__block-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
}

.project {
    width: 1920px;
    margin: 0 auto;
    background: #F6F6F8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    margin: 100px auto 50px;
    color: #000000;
}

.project__text {
    margin: 0 auto 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
}

.project__content {
    display: flex;
    gap: 30px;
    max-width: 1110px;
    margin: 0 auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;


}

.project__items {
    cursor: pointer;

}

.project__item {
    width: 255px;
    height: 255px;
    border-radius: 10px;
    border: none;
}

.project__link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 13px 36px 15px;
    max-width: 200px;
    background: #4985FF;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    margin: 50px auto 130px;
}


