.popup__container {
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    margin: 0;
    width: 767px;
    color: black;
    padding: 25px 22px;
}

@media screen and (max-width: 768px) {
    .popup__container {
        width: 250px;
        padding: 34.43px 36px;
    }
}