.signature__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  margin: 0 auto 30px;
}

@media screen and (max-width: 767px) {
  .signature__text {
    font-size: 14px;
    max-width: 300px;
  }
}
